@import "style2.css";
@import "style3.css";

.header {
    padding: 20px 10px;
    background-color: white;
    text-align: center;
}

.header a {
    background-color: white;
    color: slateblue;
    padding: 12px;
    text-align: center;
    font-size: 80px;
    border-radius: 4px;
    font-family:cursive;
 }

.header a:hover {
    background-color: azure;
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: white;
    text-align:center;
    height:50px;
}

.topnav a {
    color: black;
    background-color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family:Gill Sans MT;
}

.topnav a:hover {
    background-color: #ddd;
    color: green;
}

.article{
    background-color:white;
}


.footer {
    text-align: center;
    padding: 3px;
    background-color: gray;
    color:black;
}

@media(min-width:599px){
    .blog-box {
        width: 10%;
    }

}
@media(min-width:600px) and (max-width:900px){
    .blog-box{
        width:30%;
    }
}

@media(min-width:901px) {
    .blog-box {
        width: 50%;
    }
}